.flex-item {
    flex: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    margin: 2em;
}
.flex-container {
   display: flex;
   flex-wrap: wrap;
}