<nav class="row justify-content-center align-items-center">
    <div class="col text-center">
      <a routerLink="/admin/users" routerLinkActive="activeRoute" [routerLinkActiveOptions]="{exact: true}">
          <h2 class="linkButton">BENCH</h2>
      </a>
    </div>
    <div class="col text-center">
        <a routerLink="/admin" routerLinkActive="activeRoute" [routerLinkActiveOptions]="{exact: true}">
            <h2 class="linkButton">STRENGTH</h2>
        </a>
    </div>
</nav>

<!-- <nav class="navbar">
    <span class="navbar-text text-center">
        <a routerLink="/admin/users" routerLinkActive="activeRoute" [routerLinkActiveOptions]="{exact: true}">
            BENCH
        </a>
    </span>
    <span class="navbar-text text-center">
        <a routerLink="/admin" routerLinkActive="activeRoute" [routerLinkActiveOptions]="{exact: true}">
            STRENGTH
        </a>
    </span>
</nav> -->