
.logoutBtn {
    color: white;
    background-color: #34A5DA;
    margin-top: 0.25em; 
}

nav > div {
    .row {
        padding-right: 0;
    }
    background-color: white;
    box-shadow: 0 0 2em -0.5em #34A5DA;
    // max-width: 100vh;
}

.col, .col-1 {
    padding-top: 0.60em;
    min-height: 3.5em;
}


.logoutDiv { 
    background-color: white;
}

a {
    color: #34A5DA;
    margin: auto;
}

.activeRoute {
    > a {
        color: white
    }
    color: white;
    background-color:#34A5DA;
}

.link {
    color: #34A5DA;
    z-index: 5;
}