
.logoutBtn {
    color: white;
    background-color: #34A5DA;
    margin-top: 0.25em; 
}

nav {
    background-color: white;
    box-shadow: 0 0 2em -0.5em #34A5DA;
}

.col, .col-1 {
    padding-top: 0.60em;
    min-height: 3.5em;
}


.logoutDiv { 
    background-color: #222222;
}

a {
    color: #34A5DA;
    margin: auto;
}

.activeRoute {
    color: white;
    background-color:#34A5DA;
}

.activeRoute > a {
    color: white
}

.link {
    color: #34A5DA;
    z-index: 5;
}