// div.col.text-center {
//     padding: 0;
//     margin: 0;
// }

.logoutBtn {
    color: white;
    background-color: #34A5DA;
    margin-top: 0.25em; 
}

nav {
    background-color: white;
    box-shadow: 0 0 2em -0.5em #34A5DA;
    // min-height: 5em;
}

.col, .col-1 {
    padding-top: 0.60em;
    min-height: 3.5em;
}

// nav h2 {
//     box-shadow: 0 0 2em -0.5em black;

// }

.logoutDiv { 
    background-color: #222222;
}

.linkButton {
    margin: 0;
    // padding: 0.25em 0;

}
// nav > h2 {
//     padding: 0;
//     margin: 0;
// }

a {
    color: #34A5DA;
    // padding-top: ;
    margin: auto;
}

.activeRoute {
    color: white;
    background-color:#34A5DA;
    z-index: 5;
    // padding: 0.25em 0;
    box-shadow: 0 1 1em #34A5DA;
}

.activeRoute > a {
    color: white
}

.link {
    color: #34A5DA;
    z-index: 5;
}