
<nav class="nav flxrow">
    <div class="settings">
        <i class="fas fa-sliders-h icon" (click)="theme()"></i>
    </div>
    <div class="title">
        <h2 class="">BENCH STRENGTH</h2>
    </div>
    <div class="logout">
        <i class="fas fa-sign-out-alt icon" (click)="auth.logout()"></i>
    </div>
</nav>

<app-user-dash-card></app-user-dash-card>















<!-- <nav class="row justify-content-center align-items-center navbar">
        <div class="col text-center">
              <h2 class="linkButton">BENCH STRENGTH</h2>
        </div>
        <button  class="btn btn-light mr-5" (click)="auth.logout()">Log out</button>
</nav> -->


<!-- <div class="content">
    <div class="row justify-content-center">
        <div class="col-12 "> -->
            <!-- <app-user-dash-card></app-user-dash-card> -->
        <!-- </div>
         <div class="col-12 text-center">
             <button 
                type="button" class="close" aria-label="Close"
                *ngIf="showSkills"
                (click)="showForm()">
                    <span aria-hidden="true">×</span>
            </button>
        <app-user-addskill class="mt-3" *ngIf="showSkills"></app-user-addskill>
                <button 
                class="btn btn-lg btn-primary"
                *ngIf="!showSkills"
                (click)="showForm()">Add Skills</button>
        </div>


        <div class="col-12 userSkill">
            <app-user-assessment></app-user-assessment>
        </div>
    </div>  
</div> -->


