<!-- <div flex fxLayout="row" fxLayoutWrap fxLayout.lt-md="column" class="gridList">
  <div class="userTile" fxFlex="50" fxFlex.lt-md="100">
      <app-user-dash-card></app-user-dash-card>
  </div>
  <div class="userTile" fxFlex="50" fxFlex.lt-md="100">
      <app-user-assessment></app-user-assessment>
  </div>
</div> -->

<div class="flex-container">
    <div class="flex-6">
        <app-user-dash-card></app-user-dash-card>
    </div>
    <div class="flex-8">
        <app-user-assessment></app-user-assessment>
    </div>
     <div class="flex-8">
      <app-user-addskill></app-user-addskill>
    </div>
</div>

<!-- <mat-grid-list cols="4">
  <mat-grid-tile colspan="4">
      <app-graph></app-graph>
  </mat-grid-tile>
</mat-grid-list> -->
