.navbar.row {
   margin: 0;
   padding: 0;
   border-bottom: 3px black solid;
}

.navbar.col.text-center {
    padding: 0;
    margin: 0;
}

.navbar > div.col.text-center {
    padding: 0;
    margin: 0;
}

.navbar > div > h2{
    color: white;
    background-color: blue;
    padding: 0.25em 0;
    margin: 0
}

