html, body {
    max-width: 100%;
}

.content {
    max-width: 100%;
}

.navbar.row {
   margin: 0;
   padding: 0;
   box-shadow: 0 0 2em -0.5em #222222;
   z-index: 5;
   background-color:#34A5DA;

}

.card {
    border-radius: none;
}

// nav h2 button{
//     background-color: #34A5DA
// }

.navbar.col.text-center {
    padding: 0;
    margin: 0;
}

button {
    &.logOut {
        color: rgb(52, 165, 218);
    }
    font-weight: 00;
}

.navbar > div.col.text-center {
    padding: 0;
    margin: 0;
}

// .navbar > button {
//     background-color:#34A5DA;
//     color: white;
// }

.navbar > div > h2 {
    color: white;
    background-color:#34A5DA;
    padding: 0.25em 0;
    margin: 0
    
}

.close {
    margin-right: 15%;
}