<!-- Table for users searched by skills -->
<div class="container">
  <div class='card-body'>
    <div class='row'>
        <!-- Search Box for skills -->
        <div class='col-md-4'>
          <app-skill-search (addSearchTerm)="expandSearch($event)"></app-skill-search>
        </div>
    </div>
  </div>
  <div class='table-responsive' >
      <table class='table'>
        <thead>
          <tr>
            <th>Name</th>
            <th class="text-center">Skill</th>
            <th class="text-center">Perceived</th>
            <th class="text-center">Accurate</th>
            <th class="text-center">Interest</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of search'>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>
                <p *ngFor="let skill of user.Skills">
                {{ skill.name }}
                </p>
            </td>
            <td>
                  <p *ngFor="let skill of user.Skills">
                      {{ skill.user_skill.self_rating }}
                  </p>
            </td>
            <td>
                <p *ngFor="let skill of user.Skills">
                    {{ skill.user_skill.employer_rating }}
                </p>
            </td>
            <td>
                <p *ngFor="let skill of user.Skills">
                  {{ skill.user_skill.interest }}
                </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<!-- Table for users searched by user name -->
<div class="container"  *ngIf="searchType === 'users' ">
    <div class='table-responsive'>
        <table class='table'>
          <thead>
            <tr>
              <th>Name</th>
              <th class="text-center">Email</th>
              <!-- <th class="text-center">Perceived</th>
              <th class="text-center">Accurate</th>
              <th class="text-center">Interest</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of filteredList'>
              <td>{{ user.firstName }} {{ user.lastName }}</td>
              <td class="text-center">{{ user.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>   