table.user-button a:link {
    color: white;
}

a {
    color: white;
}

.container {
    box-shadow: none;
}

td > p {
    // padding-left: 2em;
    text-align:center;
}
table {
    color: whitesmoke;
}

.routePointer {
    cursor: pointer;
    &:hover {
        background-color: rgb(235, 235, 235);
        color: black;
    }
}