<!-- <div class="container">
    <table class="table">
        <thead class="sticky">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Skills</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
              <td><button class="btn btn-secondary user-button"><a routerLink="admin/user/{{ user.email }}">{{ user.email }}</a></button></td>
            <td><p *ngFor="let skill of user.skills">{{ skill }}</p></td>
          </tr>
        </tbody>
      </table>
</div> -->

<div class='card-body'>
    <div class='row'>
      <div class='col-md-4'>
        <input type='text'
          style="width: 300px; margin: 20px;"
          placeholder="search for a skill eg: angular"
          [(ngModel)]='skillFilter' />
      </div>
    </div>

<div class='table-responsive'>
    <table class='table'
            *ngIf='skills && skills.length'>
      <thead>
        <tr>
          <th>
          </th>
          <th>Skill</th>
          <th>Perceived</th>
          <th>Accurate</th>
          <th>Interest</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let skill of filteredSkills'>
          <td>
          </td>
          <td>{{ skill.skillName }}</td>
          <td>{{ skill.perceived }}</td>
          <td>{{ skill.accurate }}</td>
          <td>{{ skill.interest }}</td>
        </tr>
      </tbody>
    </table>
  </div>   