table.user-button a:link {
    color: white;
}

a {
    color: white;
}

.container {
    box-shadow: none;
}

// .sticky {
//     position: sticky;
//     top: 0;
//     // table-layout: ;
//     z-index: 5;
//     // width: 100%;
// }

// .sticky {
//     position: fixed;
//     top: 57px;
//     background: white;
//     z-index: 100;
//     width: 100%
// }