// .wrapper {
//     width: 100%;
//     max-width: 1100px;
//     margin:0 auto;
//     border: 1px solid black;

    .navbar {
        width: 100%;
        max-width: 1100px;
        margin:0 auto;
        display: inline-flex;
        padding-bottom: 0;

        .space {
            height: 80;
            width: 100px;
            max-width: 100px;
        }
        .title {
            height: 80px;
            flex-grow: 100;
        }
        .btn {
            height: 80;
            width: 100px;
            max-width: 100px;
            margin-top: 20px;
        }
    }


