<div class="user-assessment card">
  <div class="card-header">
    Skills List: 
    <!-- {header... add skill button before or after header} -->
  </div>
  <hr>
  <div >
  <table class="table">
    <thead>
      <tr>
        <th scope="row"></th>
        <th scope="col">Skill: </th>
        <th scope="col">Interest Level: </th>
        <th scope="col">Ability Level: </th>
      </tr>
    </thead>
    <tbody>
      <!-- test example -->
      <!-- <tr>
      <th scope="row"></th>
      <td>Node.js</td>
      <td>Yes</td>
      <td>Beginner</td>
    </tr> -->
    <!-- test example -->
    <tr *ngFor="let user of user.skills">
      <th scope="row"></th>
      <td >{{ skills.name }}</td>
      <!-- *ngIf="user.email === sessionStorage.getItem('userEmail')" -->
      <td>{{skills.user_skill.self_rating}}</td>
      <td>{{skills.user_skill.self_rating}}</td>
    </tr>
    <!-- WHERE THE INFO FROM DB SHOULD GO -->
    <tr>
      <th scope="row"></th>
      <td>
        <!-- {{userSkill}} -->
      </td>
      <td>
        <!-- {{InterestLevel 1-3}} -->
      </td>
      <td>
        <!-- {{AbilityLevel 1-3}} -->
      </td>
    </tr>
    </tbody>
  </table>
  </div>

</div>


<!-- First we'll need a header/navbar describing the table 
An Add Skill button with modal to describe skill and skill level
Then a table with Skill Name and Skill Level, maybe Years In Practice.   -->
