<div class="user-assessment card">
  <div>
    <h2 class="skillsHeader">Skills List: </h2>
  </div>
  
  <div *ngIf="skills">
  <table class="table">
    <thead>
      <tr>
        <th scope="row"></th>
        <th scope="col">Skill: </th>
        <th scope="col">Interest Level: </th>
        <th scope="col">Ability Level: </th>
        <th scope="col" *ngIf="adminData">Actual Level</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let skill of skills.Skills">
      <th scope="row"></th>
      <td >{{ skill.name }}</td>
      <td>{{ interests[skill.user_skill.interest -1] }}</td>
      <td>{{ abilities[skill.user_skill.self_rating -1] }}</td>
      <td *ngIf="adminData">{{ abilities[skill.user_skill.employer_rating -1] }}</td>
    </tr>

    <!-- Need to convert skill interests and self_ratings to strings from integers -->
    
    </tbody>
  </table>
  </div>

</div>



