<div class="user-assessment card">
  <div class="card-header">
    <h2 class="skillsHeader">Skills List: </h2>
  </div>
  <hr>
  <div *ngIf="userSkills">
    <table class="table">
      <thead>
        <tr>
          <th scope="row"></th>
          <th scope="col">Skill: </th>
          <th scope="col">Interest Level: </th>
          <th scope="col">Ability Level: </th>
          <th scope="col" *ngIf="adminData">Actual Level</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skill of userSkills">
          <th scope="row"></th>
          <td >{{ skill.name }}</td>
          <td>{{ skill.user_skill.interest }}</td>
          <td>{{ skill.user_skill.self_rating }}</td>
          <td *ngIf="adminData">{{ skill.user_skill.employer_rating }}</td>
        </tr>

      <!-- Need to convert skill interests and self_ratings to strings from integers -->
      
      </tbody>
    </table>
  </div>

</div>



