



<div class="user card ">
  <div>
      <h5 class="cardTitle"> Your Information: </h5>
  </div>
<!-- load for user view -->
<div class="card" *ngIf="adminData == undefined">
    <div class="row">
        <div class="col-md-4">
          <img *ngIf="userInfo.picture" src= '{{ userInfo.picture }}' class="card-img" alt="...">
          <img *ngIf="!userInfo.picture" src='https://via.placeholder.com/100' class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4>Name: {{ userInfo?.name }}</h4>
            <p class="card-text">Email: {{ userInfo?.email }}</p>
        </div>
    </div>
  </div>
</div>

<!-- load for admin view -->
<div class="card" *ngIf="adminData !== undefined">
    <div class="row">
        <div class="col-md-4">
          <img *ngIf="adminData.picture" src='{{ adminData.picture }}' class="card-img" alt="...">
          <img *ngIf="adminData.name && !adminData.picture" src='https://via.placeholder.com/100' class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Name: {{ adminData.name || userInfo?.name }}</p>
            <p class="card-text"><small class="text-muted">Email: {{ adminData.email || userInfo?.email }}</small></p>
        </div>
    </div>
  </div>
</div>
</div>