<div class="user-dash-card">
  <app-user-dash-image></app-user-dash-image>
  <h4 id="user-name" class="info-user">Seamus Murphy</h4>
  <h4 id="user-github-name" class="info-user">turntShramp</h4>
  <p id="user-bio" class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda et sequi alias quae animi blanditiis!</p>
  <button mat-raised-button class="git-btn " href="https://github.com/turntShramp"><i class="fab fa-github"></i> Go to GitHub Page</button>
  <div class="body input-field">
    <textarea id="user-notes" class="materialize-textarea"></textarea>
  </div>
  <div class="flx">
    <i class="fas fa-map-marker-alt box1"></i>
    <h4 id="user-location" class="info-user box2">Dover, NH</h4>
  </div>
  <div class="flx">
    <i class="far fa-envelope box1"></i>
    <h4 id="user-email" class="info-user box2">seamusmurchadh@gmail.com</h4>
  </div>
  <div class="flx">
    <i class="fas fa-link box1"></i>
    <h4 id="user-linkedin" class="info-user box2" href="https://www.linkedin.com/in/seamus-murphy-53692223/">https://www.linkedin.com</h4>
  </div>
</div>


  <!-- <mat-card class="">
    <mat-card-header>
      <img mat-card-sm-image>
      <mat-card-title>Name: </mat-card-title>
      <mat-card-subtitle>Email: </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Content goes here</p>
    </mat-card-content>
    <div class="btn"><button mat-raised-button class="log-btn">Log out</button></div>
  </mat-card> -->
