<mat-card class="user-container">
    <mat-card-header class="d-flex justify-content-end">
       <div class="btn"><button mat-raised-button class="log-btn" (click)="auth.logout()">Log out</button></div>
    </mat-card-header>
    <mat-card-header class="row">
      <div class="col-md-left">
        <img  mat-card-md-image  
         [src]='userInfo.picture'> 
        </div>
      <div class="col-lg text-left" >
        <mat-card-title >Name: {{ userInfo.name }}</mat-card-title>
      <mat-card-subtitle >Email: {{ userInfo.email }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content class="text-left">
      <mat-card-subtitle>Notes: </mat-card-subtitle>
      <p>Bacon ipsum dolor amet dolor eu irure in corned beef, boudin cupidatat deserunt ut tail porchetta kielbasa. Lorem jowl hamburger beef shank ad andouille t-bone ribeye kevin ham hock ullamco. </p>
    </mat-card-content>
</mat-card>