.user  {
    text-align: center;
    padding: 2em;
    background-color: transparent;
    border: none;
}
.card-image {
    height: 50px;
    width: 50px;
}
.cardImg {
    max-height: 300px;
    max-width: 300px;
    margin: 2em;
    border-radius: 5px;
    margin-bottom: 0;
}
.cardText {
    margin: 1em 1em;
    max-width: 300px;
}
.cardTitle {
    color: whitesmoke;
}

.card-body {
    margin-top: 2em;
}