body {
    background-image: url('https://cdn.shopify.com/s/files/1/0187/2004/products/transparent-padlock.jpg?v=1543553954');
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}