<div class="container">
  <h2>User Skills</h2>
  <form>
    <div class="form-group">
      <label for="name"> Name </label>
      <input id="name" name="name" class="form-control"  />
    </div>
  </form>

<div class="row">
  <div class="form-group col-3" >
    <label for="subType"> Making Choices</label>
    <select class="form-control" id="subType">
      <option>Interested</option>
      <option>Neutral as Switzerland</option>
      <option>Not Interested</option>
    </select>
    <!-- <button class="btn btn-primary">Send</button> -->
  </div>
  <div class="form-group col-3" >
    <label for="subType"> Making Choices</label>
    <select class="form-control" id="subType">
      <option>Interested</option>
      <option>Neutral as Switzerland</option>
      <option>Not Interested</option>
    </select>
    <!-- <button class="btn btn-primary">Send</button> -->
  </div>
  <div class="form-group col-3" >
    <label for="subType"> Making Choices</label>
    <select class="form-control" id="subType">
      <option>Interested</option>
      <option>Neutral as Switzerland</option>
      <option>Not Interested</option>
    </select>
   
  </div>
   <button class="btn btn-primary">Send</button>
</div>
</div>