<div class="container addSkillContent" >
  <h2>Add Your Skills</h2>

<div class="row">
  <div class="form-group col-4" >
    <label for="subType"> Choose Skill:</label>

      <select class="form-control" id="subType" [formControl]="skillId" >
        <option [ngValue]="undefined"  ></option>
        <option  *ngFor="let skill of skills" value={{skill.id}} >{{skill.name}}</option>
      </select>
  </div>

  <div class="form-group col-4" >
    <label for="subType"> Interest Level:</label>
    
    <select class="form-control" id="subType" [formControl]="skillInterest" >
      <option [ngValue]="undefined"  ></option>
      <option *ngFor="let interest of interests; index as i" [ngValue]="i+1" >{{interest}}</option>
    </select>
  </div>

  <div class="form-group col-4" >
    <label for="subType"> Ability Level: </label>

    <select class="form-control" id="subType" [formControl]="skillSelfRating">
      <option [ngValue]="undefined" disabled ></option>
      <option *ngFor="let ability of abilities; index as i" [ngValue]="i+1" >{{ability}}</option>
    </select>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-2">
    <div>
      <button (click)="sendForm()" class="btn btn-info btn-block">Add Skill</button>
    </div>
    
  </div>
</div>


</div>

<!-- <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->