.login-container {
    text-align: center;
    margin: 100px auto;
    max-width: 500px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    .title {
        color: #3c3c3c;
        font-size: 30px;
        padding: 50px 50px;
    }
    .git-btn {  
        background-color: #3c3c3c;
        color: #ffffff;
        margin-bottom: 2rem;
    }
    hr {
        margin: 30px 40px;
        border: solid .5px #eae9ea;
    }
    .mock-form {
        padding: 0;
        margin: 20px 40px;
        border: solid 1px #acabaa;
        border-radius: 3px;
        text-align: left;
    }
    .filler {
        margin: 0;
        padding:  3rem;
        color: #acabaa;
    }
    // .remember {
    //     margin: 20px 40px;
    //     font-size: 12px;
    //     text-align: left;
    // }
    // .login-btn {
    //     color: #39759a;
    //     border: solid 1px #39759a;
    //     font-size: 12px;
    //     text-align: right !important;
    //     margin-bottom: 50px;
    // }
}
