<div class="user-container">

  <!-- <div class="user-dashboard">
      <div class="user-info">
        <h1>user-info</h1>
      </div>
      <div class="user-graph">
        <h1>user-graph</h1>
        
        <app-graph></app-graph> 
      </div>
  </div> -->

  <mat-card class="user-dashboard">
    <mat-card-header>
      <div mat-card-avatar class="avatar_url"></div>
      <mat-card-title>Name: </mat-card-title>
      <mat-card-subtitle>Email: </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Content goes here</p>
    </mat-card-content>
  </mat-card>
  



  <div class="user-skills">
  </div>



</div>