.user-dash {
    // background-color: teal;
    margin: 40px 50px 0 50px;
    justify-content: space-around;
    border-radius: 15px;
    display: inline-flex;
    
}
.one {
  
    z-index: 2;
}
.two {
    position: relative;
    right: 250px;
    z-index: 1;
}