body {
    overflow-x: hidden;
}
.userList {
    overflow: scroll;
    max-height: 70vh;
    display: block;
    border: none;
}

.title {
    color: #34A5DA;
}

hr {
    border-color: #34A5DA;
    width: 80%;
}