<nav class="row justify-content-center align-items-center">
<div class="col text-center">
  <a routerLink="/admin/users" routerLinkActive="activeRoute" [routerLinkActiveOptions]="{exact: true}">
    <!-- <div class="my-auto"> -->
      <h2>BENCH</h2>
    <!-- </div> -->
  </a>
</div>

    <a routerLink="/admin" routerLinkActive="activeRoute" [routerLinkActiveOptions]="{exact: true}">
      <div class="col text-center">
      <!-- <div class="my-auto"> -->
        <h2>STRENGTH</h2>
      <!-- </div> -->
    </div>
    </a>
</nav>


<div 
*ngIf="showForm"
class="row align-items-center justify-content-center">
  <div class="col">
<div class="container">
    <h2>Add User</h2>
    <div class="row align-items-center justify-content-center">
      <div class="col-6">

        <form>
          <div class="form-group">
            <label> First Name </label>
            <input name="name" class="form-control"  [formControl]="firstName"/>
            <label > Last Name </label>
            <input name="name" class="form-control"  [formControl]="lastName"/>
            <label for="name"> Github Email</label>
            <input id="name" name="name" class="form-control"  [formControl]="userEmail"/>
          </div>
        </form>
      </div>
    </div>
  <div class="row justify-content-center">
    <div class="col">
      <div>
        <button (click)="sendForm()" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
<div class="row justify-content-center">
    <button
    *ngIf="!showForm" 
    (click)="toggleForm()" 
    class="btn btn-lg btn-primary my-5">Add User</button>
    <button
    *ngIf="showForm" 
    (click)="toggleForm()" 
    class="btn btn-lg btn-dark mb-5">Close</button>
</div>



  <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<app-user-area></app-user-area>