body {
    overflow-x: hidden;
}
.userList {
    overflow: scroll;
    max-height: 70vh;
    display: block;
    border: none;
}

.title {
    color: #34A5DA;
}

hr {
    border-color: #34A5DA;
    width: 80%;
    margin-bottom: 2em;
}

button {
    color: white;
    font-weight: 00;
}

.close {
    color: black;
}

.addUserForm {
    margin-bottom: 4em;
    margin-top: 2em;
    .container {
        background-color: white;
    }
}

.addUserButton {        
    color: rgb(52, 165, 218);
    font-weight: 00;
    background-color: white;
    border: none;
}