.userTable {
    overflow: scroll;
    max-height: 70vh;
    // border: black
}

td, thead {
    color: whitesmoke;
    // td > a {
    //     color: whitesmoke;
    // }
    // td > button {
    //     background-color: whitesmoke;
    //     color: #34A5DA;
    //     font-weight: 500;
    // }
    th {
        border-top: none;
    }

}

.nestedTable > table {
    border-top: none;
}

tbody > tr.routePointer {
    cursor: pointer;
    &:hover {
            background-color: rgb(235, 235, 235);
            td {
                color: black;
            }
        }
    }